<% content_for :title do %>
  <a href="<%= @bike_path %>">
      <%= @bike.name %>
  </a>
<% end %>
<div class="card col-md-12">
  <img class="img-thumbnail" src="<%= @bike.picurl %>" style="width: 100%; margin-top: 10px;" alt="<%= @bike.name %>">
  <div class="card-block">
    <h4><%= @bike.name %></h4>
    <p>
      <%= @bike.desc %>
    </p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Style:</strong> <%= @bike.style %></li>
      <li class="list-group-item"><strong>Price:</strong> <%= @bike.price %> <i class="fa fa-usd" aria-hidden="true"></i></li>
      <li class="list-group-item">
        <%= link_to 'Back', bikes_path, class: "btn btn-outline-primary" %>
        <% if current_user.try(:admin) %>
          <%= link_to 'Edit', edit_bike_path(@bike), class: "btn btn-outline-primary" %>
          <%= link_to 'Delete', @bike, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
