<!DOCTYPE html>
<html>
<head>
  <title>Bikeshop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">Bicycle Shop</a>
  </nav>
  <div id="wrapper" >
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
              <%= yield :title %>
            </li>
            <%= yield :menu %>
        </ul>
    </div> <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <%= yield %>
            </div>
          </div>
        </div>
    </div> <!-- /#page-content-wrapper -->
  </div> <!-- /#wrapper -->
</body>
</html>
